*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
}
/* Cabeçalho */
header{
    background-image: url("../imagens/IMG_20250115_14444.jpg");
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aquamarine;
    font-size: large;
    display: flex;
    font-variant: small-caps;
    flex-flow: column wrap;
    justify-content: space-between;
    text-align: center;
}
main{
    width: 100%;
}
h1{
    align-self: center; 
}
/* Calculadora */
.calc{
    display: flex;
    justify-content: space-between;
}
.calc > a{
    color: aliceblue;
    align-self: center;
    text-decoration: none;
    align-self: flex-end;
   
    margin-bottom: 15px;
}
.calc > img{
    width: 6vw;
    height: 6vh;
}
header > a:hover{
    background-color: rgb(46, 18, 29);
    color: rgb(194, 133, 194);
    text-decoration: underline;
}
/* Palavras rodando na tela */
.rodar{
    margin: 0px 7em 0px 7em;
}
/* Primeiro parágrafo */
.inicio{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 2em;
}
.inicio > img{
    width: 27%;
}
/* Primeiro conteiner */
.jeito{
    background-image: linear-gradient(to top, #e7dff1, #f3edd1, #c6b4c7, #dad8d8);
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    text-align: justify;
    animation: fadeInUp 1s ease;
    opacity: 0;
    animation-fill-mode: forwards;
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(40px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
}
.jeito > div{
    padding: 1em;
}
.escolha > div > div > h2{
    font-variant: small-caps;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4vw;
}
.escolha > div > span{
    font-size: 2vw;
    align-self: start;
}
.escolha{
    padding: 0.5em;
    
}
/* Parte dos icones */
.items{
    font-size: 3vw;
    padding: 5px;
    font-weight: lighter;
    display: grid;
    grid-template: auto auto / auto auto;
    gap: 20px;
    margin-top: 2em;
    width: 70vw;
    margin: auto;
    align-content: space-between;
}
.items > div > img{
    width: 35px;
}
.items > div > span{
    font-size: 5vw;
}
.items > div{
    padding: 5px;
}
/* Nosso orgulho */
.nos{
    display: flex;
    flex-flow: row wrap;
    width: 90vw;
    background-color: #ed72f3;
    margin: auto;
    justify-content: space-between;
    margin-top: 5px;
    padding: 10px;
    padding-top: 38px;
    border-radius: 2px 20px;
    box-shadow: 2px 2px 4px #0000007c;
}
.nos:hover{
    background-color: #e9a9d0;
    box-shadow: 3px 3px 5px #0000007e;
    transition: 1.5s;
    color: #0b6911;
}
.nos > div > h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    
}
.nos > div > p{
    padding: 10px;
    text-align: justify;
    line-height: 1.5em;
}
/* Nossos serviços */
.servicos{
    width: 90vw;
    margin: auto;
    padding-top: 28px;
    border-radius: 20px;
}
.servicos > article{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-items: center;
    
}
.servicos article div > img{
    width: 100px;
}
.servicos > .title{
    display: flex;
    justify-content: space-around;
}
.servicos > article > div{
    padding: 10px;
}
.servicos > article > div > p{
    text-align: justify;
    max-width: 300px;
}
.servicos > article > div > p:hover{
    background-color: #f4f9fa;
    color: #271f30;
    transition: 2s;
}
.title > h2{
    padding: 7px;
    border-radius: 15px 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(35deg, #ca8ac2, #d1b978, #bbf09d);
}
/* Áreas de atuação */
.atuation{
    background-image: url("../fundos/transferir\ \(17\)\ \(1\).jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.atuation > div{
    padding: 40px;
    color: #e7dff1;
}
.atuation > div > p{
    background-color: #242938;
    margin-right: 24vw;
    padding: 15px;
    text-align: justify;
    line-height: 2em;
}
/* Nossas imagens */
.trabalho > div > h3{
    padding: 20px;
    text-align: center;
    background-color: #0b6911;
    margin: 2em 6em 1em 6em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(35deg, #ca8ac2, #d1b978, #bbf09d);
    border-radius: 15px 5px;
}
.trabalho > .imagens{
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    gap: 10px;  
    align-items: center; 
    align-content: space-around;
    overflow-x: hidden;
}

.imagens >  img{
    width: 100%;
    border: 1px dashed orchid;
    border-radius: 5px;
}
.imagens >  img:hover{
    width: 51vw;
}

.i1, .i2, .i3, .i4{
    display: none;
}
#par{
    margin-top: -1em;
    padding-left: 8px;
    margin-bottom: 2em;
}
#btn{
    display: none;
    margin-top: 2em;
}
.porque{
    width: 90vw;
    margin: auto;
    padding: 20px;
    line-height: 1.8em;
    background-color: #f4f9fa;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #0000007c;
    animation: fadeInUp 1s ease;
    opacity: 0;
    animation-fill-mode: forwards;
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(40px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
}
.porque > h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.porque > div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}
#wimg:hover{
    border: #ca7b13 solid 1.6px;
    border-radius: 50%;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #27942e;
    color: #e7dff1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-top: 7em;
    padding-bottom: 4em;
    margin-top: 2em;
}
footer > p, a, div{
    padding: 10px;
}
footer > div > a > .fimg{
    width: 18px;
}
