@media (min-width: 809px) {
    .items > div > span{
    font-size: 3vw;
    }
    .nos{
        flex-flow: row nowrap;
    }
    .items{
        grid-template-columns: auto auto auto auto;
        gap: 30px;
    }
    .servicos > article{
        flex-flow: row nowrap;
    }
    .atuation > div > p{
        margin-left: 32vw;
    }
    .atuation > div > h2{
        text-align: center;
    }
    .trabalho > .imagens{
        grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
        background-color: rgb(236, 187, 236);
    }
    .imagens > img{
    width: 25vw;
    }
    .trabalho > div > h3{
        margin: 2em 10em 1em 10em;
    }
    .i1, .i2, .i3, .i4{
    display: block;
    }
    #par{
        display: none;
    }
}